<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <title>basic flask app</title>
</head>
<body>
    <h1>Basic Flask app.</h1>
    <h1 id="givekey">here's your open ai key:</h1>

    <script>
        function pullupthekey(){
        
            $.ajax({ 
                url: '/process', 
                type: 'POST',  
                success: function(response) { 
                    returnkey = document.getElementById("givekey");
                    returnkey.innerHTML += response;
                }, 
                error: function(error) { 
                    console.log(error); 
                } 
            }); 

        
        }
        pullupthekey();
    </script>
</body>
</html>