.main{
    display: flex;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
[class*="text-"]{
    color:rgb(255, 255, 255);
    font-family: Helvetica;
}
.text-title{
    font-weight:bold;
    padding: auto;
    margin :0;
}
.text-thin{
    font-weight: 200;
    color:rgb(214, 214, 214);
}
.text-extrathin{
    font-weight: 100;
    font: lighter;
    margin :0;
    color:rgb(147, 147, 147);
}
html,body{
    margin: 0;
    padding: 0;
}
.buttonHolder{
    display: flex;
    height: 4vh;
    width: 15vw;
    margin:1%;
    justify-content: center;
    align-items: center;
    
}
.button{
    border: 1vm;
    margin:15px;
    border-color: rgba(255, 255, 255, 0);
    border-style:solid;
    border-radius: 12px;
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
    transition: border-color .25s;
}
.button:hover{
    transition: border-color .5s;
    border-color: rgb(255, 255, 255);
}